{% extends 'base.html.twig' %}

{% set title = "Register" %}

{% block body %}
    <p></p>
    <div class="alert alert-warning" role="alert">Please verify your email address before logging in.</div>
{% endblock %}
