{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <p></p>
    <div class="alert alert-warning" role="alert">Please verify your email address before logging in.</div>
{% endblock %}
