{% extends 'base/index.html.twig' %}

{% block base %}
            <div class="page page-center">
              <div class="container container-tight py-4">
                <div class="row m-4">
                  <div class="text-center mb-4">
                    {% include "base/brand.html.twig" %}
                  </div>
                  {% include "base/flash.html.twig" %}
                    <div class="col-12 col-md-12 col-lg-12 mb-4 mb-lg-0">
                      <div class="card">
                          <h5 class="card-header">{{ page.title }}</h5>
                          <div class="card-body">
                            <p class="card-text">
                                {{ "Please verify your email address."|trans }}
                        </div>
                    </div>
                </div>
              </div>
            </div>
{% endblock %}