{% extends 'base/page.html.twig' %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">DMARC Reports</h5>
                            <div class="card-body">
                              <h5 class="card-title">{{dmarc_count}} Reports</h5>
                              <p class="card-text"></p>
                              <td><a href="{{ path('app_dmarc_reports') }}" class="btn btn-sm btn-primary">Open DMARC Reports</a></td>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">SMTP-TLS Reports</h5>
                            <div class="card-body">
                              <h5 class="card-title">{{smtptls_count}} Reports</h5>
                              <p class="card-text"></p>
                              <td><a href="{{ path('app_smtptls_reports') }}" class="btn btn-sm btn-primary">Open SMTP-TLS Reports</a></td>
                            </div>
                          </div>
                    </div>
                </div> 
{% endblock %}
