{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <div class="row">
                    <div class="col-12 col-xl-12 mb-12 mb-lg-12">
                        <div class="card">
                            <h5 class="card-header">Error</h5>
                            <div class="card-body">
                                {{ message}}
                            </div>
                        </div>
                    </div>
                  </div>
{% endblock %}
