{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}
                  <div class="row">
                    <div class="col-12 col-xl-12 mb-12 mb-lg-12">
                        <div class="card">
                            <h5 class="card-header">Page not found</h5>
                            <div class="card-body">
                                Page not found
                            </div>
                        </div>
                    </div>
                  </div>
{% endblock %}
